[2017-12-01 07:25] vbmade2000 opened #6 "How to contribute to it ?"

[2017-12-05 03:53] alexellis opened #9 "Allow custom env-vars"
We need to allow custom env-vars so that things like `read_timeout` can be set with good defaults for the ML examples like the inception function. cc/ @ericstoekl @kenfdev

[2017-12-05 03:53] alexellis commented on #6
Hi please see store.json and the README at https://github.com/openfaas/store for more details

[2017-12-05 08:37] stefanprodan commented on #9
I think we need to show a HTML form that will render a textbox for each env var with a default value if it's present in the json file.

The sore definition could looks like this:

[code]

[2017-12-05 14:57] kenfdev commented on #9
How about an edit (like) button which sends you to the "manually deploy" tab with information filled in for the function.
And adding Env Vars dynamic input to the "manually deploy" tab.
Wish I could create a simple prototype but not have enough time atm.

In addition, we're trying to add a url button for the `repo_url` , too. So the UI will start to get complicated...
Maybe a context menu toggle?

[2017-12-13 14:31] #6 closed

[2017-12-15 12:32] sknebel opened #13 "preview outside OpenFaaS?"
As a random visitor of this repository, it would be nice if I could easily view the functions in here. Right now it's not so bad to directly read the JSON file, but especially if this collection (hopefully) grows, it would be great to have a nicer view.

Maybe the code rendering the frontend in OpenFaaS could be used to create a simple page, e.g. on GitHub pages and linked from this repo?

[2017-12-15 15:07] rorpage commented on #13
Derek add label: enhancement

[2018-01-26 11:46] itscaro commented on #13
Something like this? https://github.com/itscaro/store/blob/json-md/store.md

[2018-02-05 05:22] vielmetti opened #22 "[wip] "sisyphus", to illustrate a single function that works across stores of all architectures"
See https://github.com/vielmetti/sisyphus/issues/6 , work in progress to build a single simple OpenFaaS function that's multi-architecture and builds across multiple architectures from a simple Makefile and from a single Dockerfile.

Not ready to merge yet, but if you want to try it out,

```faas-cli deploy --image vielmetti/sisyphus:amd64 --name sisyphus```

should work on amd64 (x86_64) systems.

[2018-02-06 14:55] alexellis commented on #13
The table version looks pretty good 👍

[2018-02-06 15:12] itscaro commented on #13
is it possible to give CI the write permission to Git repo?

[2018-03-13 19:16] rgee0 opened #27 "Remove network attributes from store.json & store-armhf.json files"
With the changes implemented in https://github.com/openfaas/faas-swarm/commit/e36f90b36f5b81498ea7dc018b3cf0b48127f7a1 the network attribute can be ascertained by the swarm backend.

This issue is to remove the network values from the store.json & store-armhf.json files

[2018-03-13 19:22] rgee0 commented on #27
Tightened the scope as arm64 doesnt appear to have the network label yet

[2018-03-13 21:52] ovation22 opened #28 "Provide more C# .NET Core samples for armhf"
Exploring more of the sample functions in the store I would like to see more .NET Core for armhf.

Following Alex Ellis' and Scott Hanselman's great posts I would like to see similar examples available in the store.

- Hello World - C#
- NodeInfo - C#
- Suggestions? (I'm willing to work on any, just need ideas)

I've got Hello World working locally and would be happy to submit.

[2018-03-14 15:27] alexellis commented on #28
Is there something we can do that makes sense for .NET Core over Go or Python etc?

[2018-03-14 15:28] alexellis commented on #28
From a user-perspective the store is about images that can be used to explore OpenFaaS - so we already have NodeInfo in Node - adding it in C# is OK for `community.md` listings but might be confusing in the store.

[2018-03-14 16:04] ovation22 commented on #28
Whatever makes the most sense.

I would like to come up with something to contribute to the store, but I'm better at implementation than ideas. I ported an environment example over and added to Docker Hub - https://hub.docker.com/r/ovation22/func-environment-armhf/.

I'll continue to try to think of a good example for the store.

[2018-03-20 13:41] alexellis commented on #27
Please raise a PR when ready.

[2018-08-01 08:32] alexellis opened #35 "Convert all images possible to use read-only file-system flag"
This might need a patch to write data to /tmp which remains writeable.

[2018-08-20 15:24] esimov opened #37 "OpenFaaS function for Pigo face detector"
Here is an OpenFaaS function to detect faces using the Pigo face detection library. https://github.com/esimov/pigo-openfaas

[2018-08-21 09:44] ivanayov commented on #37
Thanks @esimov

Can you please open a PR?

Could you also compare the results by time/accuracy with https://github.com/openfaas/store/blob/master/store.json#L44 ?
We may keep both or if yours is faster, remove the other one.

Ivana

[2018-08-21 13:27] esimov commented on #37
Hey @ivanayov I just sent a PR, however i just committed without to Signed-off. If you cannot accept it, i can make another PR.

Thank you,
Endre

[2018-08-24 13:00] alexellis opened #39 "Validate JSON files using jq"
We should validate all PRs using jq or a similar tool with Travis. This prevents the store from breaking when the JSON is merged but invalid.

[2018-08-27 14:29] ivanayov commented on #39
Derek assign: me

[2018-08-27 14:36] ivanayov commented on #37
Derek close

[2018-08-27 14:36] #37 closed

[2018-08-27 17:37] alexellis commented on #37
For future reference there is no need to create a new PR. You can amend commits using the links in the contribution guide.

[2018-08-27 18:53] esimov commented on #37
Thanks Alex, i'll do so.

[2018-08-28 08:19] alexellis commented on #37
Very nice @esimov, I just tested the function and it worked well 👍 🎉

Do you also have the JSON mode available which gives back the co-ordinates of the faces detected?

[2018-08-28 14:37] esimov commented on #37
@alexellis yes, the response should return the coordinates of the detected faces, however the function handler does not show the json result in the response body.

[code]

[2018-08-29 09:26] alexellis commented on #39
@ivanayov I've enabled Travis on this repo, so please add the build status icon when you're done with the .travis.yml too.

[2018-08-29 18:41] #39 closed

[2018-11-08 16:39] ivanayov commented on #9
@alexellis this is now available. Can I close the issue?

[2018-11-15 13:55] #9 closed

[2018-11-15 13:55] alexellis commented on #9
Sure

[2018-11-25 18:39] martindekov opened #43 "Move from cli-lang to template in templates.json"
I open this issue just in case we need some commenting on the name, the old one is `cli-lang` which is not verbose enough, It was suggested that more proper way should be `template` or `template-name`. I will open PR to fix the issue. More keen on `template` for simplicity. Open to suggestions

[2018-11-26 16:40] #43 closed

[2018-11-27 17:33] alexellis opened #46 "Update README about template store"
We need to update the README with some docs / headings about the template store and how it works / how to submit.

[2018-11-27 17:39] bartsmykla opened #47 "Validate templates.json with jq during CI"
As topic says, we need to add file `templates.json` to be validates by jq during the process of CI

[2018-11-27 19:32] #47 closed

[2018-11-29 05:25] TPei opened #49 "Crystal template"
I'd like to add the crystal template to the template store:
- Template: https://github.com/TPei/crystal_openfaas

It was already added to the community.md in https://github.com/openfaas/faas/pull/941

I could open a PR with: https://github.com/TPei/store/commit/a9c644121034217b3bfb88cfe6261606df829cd2

[2018-11-29 15:18] TPei commented on #49
I opened https://github.com/openfaas/store/pull/50

[2018-12-08 08:58] martindekov commented on #46
https://github.com/openfaas/docs/pull/93 is opened I can add the same info + some additional on how to submit

[2018-12-14 14:19] martindekov commented on #46
I will soon open PR for this along with adding [templates table](https://github.com/openfaas/templates/issues/100)

[2018-12-29 18:57] #27 closed

[2019-01-02 04:41] roncrivera opened #53 "Add AsciiWeather to Function Store"
Hello everyone,

Happy New Year!

I would like to propose `asciiweather` function to be added into the function store.

I think this would be a good sample/demo function for getting started with OpenFaas. The associated github repo can also serve as a reference for converting a Go CLI application into a serverless function.

Here are the function definitions for `amd64` and `armhf` for the registr

[2019-01-02 13:47] ivanayov commented on #53
Happy New Year @roncrivera !

Thank you for opening this.
Is the function written/tested for arm only?

Best,
Ivana

[2019-01-02 14:30] alexellis commented on #53
There seems to be `amd64` available too.

@ivanayov please can you evaluate the submission and give feedback?

@roncrivera if accepted I would like to move the repo into the faas-and-furious org so we can keep it up to date.

Alex

[2019-01-02 20:40] rgee0 commented on #53
Hello @roncrivera

I really like the look of this.  It took a little tracking down as the function definition detail above is different to the actual function definition.  For ease for others who might be taking a look the `stack.yml` is:

[code]

 A couple of questions:

What can be done about the spacing across the wind speed lines?  It looks like the occurrence of a diagonal arrow might be a fa

[2019-01-02 20:45] rgee0 commented on #53
BTW, did you build your image with your API key built in?  Your image worked for me without any changes.

Is there a way this can be extracted into secrets / env vars?

[2019-01-03 12:20] roncrivera commented on #53
Hello @rgee0, thanks for the feedback.

To answer your questions:

1. Let me try tracking the cause of the misalignment of the wind speed lines. The [main source](https://github.com/schachmat/wego) is in Go which I am still in the process of learning so this might take a while; the good thing about it is I now have a reason not to procrastinate. ;-)
2. I was mainly testing in the CLI and didn't re

[2019-01-04 03:53] roncrivera commented on #53
Hi @rgee0,

For point #2 above, it seems like the ANSI escape codes for printing the output in color is not being rendered correctly in the browser.

I’ve tested an option (-aat-monochrome=true) to print the output in monochrome and it looks much better.

I am going to rebuild the image with this option as the default for a better experience.

[2019-01-04 21:57] alexellis commented on #53
If this needs an API key our UI doesn't support adding that yet, so it would unfortunately break.

There is an open issue asking for help to improve the store experience in the UI.

We might have to pause this issue for now - or have you write a short blog about it instead which I can share via @openfaas on Twitter?

Alex

[2019-01-04 21:57] alexellis commented on #53
Derek add label: blocked

[2019-01-05 01:42] roncrivera commented on #53
@alexellis No worries, will put this in the back-burner for now.

A blog about this is a good idea, I'll work on it.

Thanks everyone for all your time reviewing this.

[2019-01-16 10:33] pmlopes opened #54 "Request Vert.x + GraalVM (native function) template"
The prototype for the template is already here:

https://github.com/pmlopes/openfaas-svm-vertx

It creates an empty vert.x function that compiles to native code with graalvm.

If approved I'll create a pull request linking to this issue.

[2019-01-16 15:05] halloweenjacksla opened #55 "templates.json has an error with the powershell-templates"
It looks like an error in the templates.json that pointes the powershell-template to the python3-debian template.

 {
        "template": "powershell-template",
        "platform": "x86_64",
        "language": "Python",
        "source": "openfaas-incubator",
        "description": "Powershell Ubuntu:16.04 template",
        "repo": "https://github.com/openfaas-incubator/python3-debian",

[2019-01-16 19:20] alexellis commented on #55
Hi @halloweenjacksla thank you for reporting this issue.

We'll look into it, or you can raise a PR if you'd like.

Alex

[2019-01-17 06:19] pmlopes commented on #54
Wrong repo. the correct repo and pull request is here https://github.com/openfaas/templates/pull/118

[2019-01-22 04:41] vielmetti commented on #22
Add to this: build with @drone

[2019-01-31 23:51] ibuildthecloud opened #58 ""Docker Image Manifest Query" image has invalid manifest list"
Due to a bug in Docker some multi-arch manifest lists have the wrong size in them.  This bug has since been fixed in Docker 18.09 https://github.com/docker/cli/pull/1156 but the manifests in the registry still need to be updated. Docker does not appear to validate the size, but containerd does.  So you will see an issue pulling `rgee0/of-mquery:1.0` on kubernetes using containerd as the CRI implem

[2019-02-01 07:41] alexellis commented on #58
@rgee please could you look into this? Thank you

[2019-02-01 17:18] rgee0 commented on #58
I'm not sure Ryan will be looking at this, so I've taken a look instead:

[code]

Not sure if I'm looking in the right place, but version 1.0 is showing the same as the newly built 1.2.

[code]

[2019-02-01 19:58] #58 closed

[2019-02-01 20:47] alexellis commented on #58
Oops rgee/rgee0!

[2019-02-02 15:48] alexellis opened #60 "Add .DEREK.yml to each repo in faas-and-furious"
## Task

Add .DEREK.yml to each repo in [faas-and-furious](https://github.com/faas-and-furious) which contains community functions, some of which are used in the function store.

This will result in us being able to accept PRs with sign-off checking and allowing community to administrate PRs and Issues.

You'll get 18 commits which will bump you up in the leaderboard too 💹 whilst also helping the

[2019-02-03 07:55] alexellis commented on #60
Thanks. Happy for multiple people to work on this and coordinate given how many repos are involved.

[2019-02-04 15:11] cpanato commented on #60
ah, i prefer my github alias 😄 , but will do that @alexellis

[2019-02-05 16:18] kturcios opened #61 "Add support for PUT, PATCH, and DELETE methods for HTTP templates"
This will only apply to the templates that are based upon of-watchdog.

[2019-03-03 09:49] rgee0 commented on #61
@kturcios is this in the correct repo?  If so, can you provide an example the kind of change you're proposing, please?

[2019-03-03 09:55] rgee0 commented on #13
I'm going to close this due to the prolonged period of inactivity.  The idea has merit and I think that it could be considered alongside any strategic changes to the UI.

Please feel free to open a new issue if you are keen to work on this and perhaps engage with the UI channel on Slack.

[2019-03-03 09:55] #13 closed

[2019-03-03 23:26] kturcios commented on #61
@rgee0 Yeah I opened it up here because of this comment from @alexellis
https://github.com/openfaas-incubator/node8-express-template/pull/17#issuecomment-460667265

[2019-03-04 12:52] hayer opened #64 "Submission request, fsharp template"
Didn't see any issue template so here we go.

Want to submit my template for functions using F# and .NET Core.
Template available [here](https://github.com/hayer/faas-fsharp-template).

Please tell me the next step

[2019-03-04 13:04] alexellis commented on #64
Thank you. I'll put this issue into triage later.

[2019-03-04 21:38] alexellis commented on #64
Please can you raise a PR?

[2019-03-06 19:48] hayer commented on #64
Open to response. I've most likely fudged up at some point but I couldn't find any 'guidelines' for how-to add.

[2019-03-31 15:46] alexellis commented on #53
@roncrivera are you proxying the public SaaS service or running your own?

[2019-04-04 19:41] kameshchauhan opened #70 "Currently Java8 template does not support Maven as build system"
Currently Java8 template does not support Maven as build system.
As a developer, I should be able to create OpenFaaS function using java that uses Maven as build system.
I have created a java8-maven template to do the same. The template is forked from the main repo openfaas/templates into my repository here: https://github.com/kameshchauhan/templates/tree/master/template/java8-maven

@pmlopes Plea

[2019-04-04 19:46] alexellis commented on #70
Hi Kamesh this sounds like a fair request to me. Thank you for working on your first OpenFaaS PR.

Please can you give me a quick example of how it works and a repo where you have used it?

I'd like to see an example where you have a dependency pulled in from jcenter and another one where you have a local jar that is being bundled as a dependency such as okhttp.

My initial thoughts were that this

[2019-04-05 13:10] pmlopes commented on #70
Hi, I'm a few comments here, having multiple build tools, will mean that we will start seeing lots of forks of the same code and it will become hard to maintain imho. For example, the same sub modules:

* `model`
* `entrypoint`

are now duplicated so if there is a bug or improvement changes must be duplicated in the 2 places. Why not push these 2 modules as maven dependencies to maven central whic

[2019-04-05 18:49] kameshchauhan commented on #70
I totally agree with your suggestion. Those common projects should be on maven central.
This will also potential solve the below existing problems:
1. Currently, the normal build (e.g. via  gradle) is failing when running under the context of the project/function. As a developer, it is important to test project/function first before running faas-cli build *
2. Because these two projects are not av

[2019-04-05 21:51] devongleeson commented on #70
I think this is related to the changes I suggested #137. If the interfaces in model were published to jCenter or maven-central, you could use whatever build tool you wanted for development of this. It might requires a few changes to how the Docker Builder works, but I don't think it would be too hard.

[2019-04-06 23:16] kameshchauhan commented on #70
Let's agree on below:
1. Move projects of "model" and "entrypoint" from /templates/template/java8 to  github.com/openfaas/templates/dependency/~ . The project can be kept as gradle or convert to maven   --- Kamesh to work on it
2. Prepare above two projects artifacts  to be hosted on "maven central" to start with. Follow Maven Central repo. hosting procedure. --- Kamesh to work on it
3.Set the fol

[2019-04-07 18:18] kameshchauhan commented on #70
@alexellis
I have submitted a claim of repository in Central Maven via Nexus. In order approver repository starting with com.openfaas.*, we need to prove that domain is owned by submitter. Please read comment and help resolve in the JIRA issue at : https://issues.sonatype.org/browse/OSSRH-47616

[2019-04-08 07:46] pmlopes commented on #70
I suggest to avoid reflection for 3, and instead use `ServiceLoader`s, the reason is if one would prefer to build a native image, reflection will require manual configuration while service loaders won't. Also when moving to a module world (java >=9) reflection might be blocked if a module does not allow access to a specific class.

[2019-04-11 10:25] johnnyeric opened #73 "Submission request, next.js template"
Hi, I opened this issue to submit a Next.js template to the store.

The template uses the new `serverless` mode introduced in Next.js 8 to create a single file for each page.

It was built based on the [node10-express-template](https://github.com/openfaas-incubator/node10-express-template) in a way it is compatible with the features of the base template.

It comes with 2 sample pages and the pages

[2019-04-21 16:54] psyhomb opened #74 "Submission Request, imgmod"
Hi guys, I would like to submit review request for this Image Manipulation Function with hope it can be added to the OpenFaaS Function Store :slightly_smiling_face:

[code]

Thanks

[2019-04-22 09:13] alexellis opened #76 "Feature: try to pull each image from manifest"
Using bash / jq we should try to pull each image in the manifest `functions.json` - for every platform.

If one or more is missing then this should exit non-zero and print an error indicating which images are missing.

[2019-04-22 16:05] #76 closed

[2019-04-22 17:17] alexellis commented on #73
Thanks for your PR.

What does the "8" refer to?

[code]

[2019-04-22 17:22] johnnyeric commented on #73
Hi, it refers to the version which the serverless mode was introduced.

https://nextjs.org/blog/next-8

Thinking about it now, maybe it is not necessary.

[2019-04-27 16:32] auyer opened #79 "Submission Request, LSB Steganography function"
I created a steganography function that can be usefull for some, and fun for others. Hope you find it interesting. It has 100% test coverage and CircleCi integration in my repo.

[code]

[2019-04-27 18:23] alexellis commented on #79
Hi thanks for your interest in the Function Store and for putting together a proposal for a submission. I believe you spoke with @LucasRoesler on Slack? (I have not read that conversation yet)

I have a few questions/concerns:

* what size in MB / GB is the image?

* what does it do? Hide text on an image? How would a user verify that it worked?

* what are the parameters? It seems to take a 3-key

[2019-04-27 18:33] LucasRoesler commented on #79
@alexellis  i was just looking at this when I saw your message.

The docker image is reasonably  22.2MB , it is a go based project,

[code]

I looked at the source repo and it does describe both an encode and an decode step. It would be interesting if there was an independent way for the to verify it.

@auyer I would look at https://github.com/esimov/pigo-openfaas and https://github.com/alexellis/

[2019-04-27 19:17] auyer commented on #79
LSB Steganography hides any bynary message in the Least Significant bit. It can be text, encrypted data, or even other images depending only on their size. [Check out this article about it.](https://www.cybrary.it/0p3n/hide-secret-message-inside-image-using-lsb-steganography/)

The best way to verify if it worked if to do the reverse operation. This is what I do in the unit tests.

I use this func

[2019-04-28 12:41] LucasRoesler commented on #79
@auyer yes, is it possible to check the message in the image without using the function?

[2019-04-28 17:40] auyer commented on #79
Any software written using the same Steganography lib will be able to do it, but other libs might not be compatible ( it records a "header" with the size of the message before the message itself).

[This](https://github.com/EthanWelsh/Stego) standalone script uses the same method, and the [lib's own usage example]( https://github.com/auyer/steganography/blob/master/examples/stego.go) works as well

[2019-04-29 21:21] #61 closed

[2019-04-30 20:45] psyhomb commented on #74
Anything new on this? :(

[2019-04-30 21:38] alexellis commented on #74
Hi there, thanks for taking an interest. The usage information would really help here.

Alex

[2019-04-30 21:44] psyhomb commented on #74
Hi, I think everything has been explained in the README.md file
https://github.com/psyhomb/serverless/blob/master/openfaas/imgmod/README.md

Thanks

[2019-04-30 21:51] alexellis commented on #74
This needs to run as a non root user and to write to /tmp/ only. Please can you take a look?

[2019-04-30 22:00] psyhomb commented on #74
Hey @alexellis, function is using in memory file object, in other words it doesn't require filesystem access, so I'm not quite sure what do you mean by it has to write to `/tmp`?

[2019-04-30 22:06] alexellis commented on #74
Ok then please just make sure you use a non root user next.

[2019-04-30 22:07] psyhomb commented on #74
Will do that ASAP, thanks.

[2019-05-01 00:03] psyhomb commented on #74
Done, all processes running inside of container will be executed under non root user.

[2019-05-02 16:08] psyhomb commented on #74
Hey @alexellis is there anything else I have to change?

[2019-05-11 09:26] alexellis commented on #73
@johnnyeric I like this, but I'm a bit confused about the README - I'm seeing examples of the node10-express template mixed in.

Can you re-write the docs or help me understand how the two play together? I'd love to see something like this merged and available in the store.

Alex

[2019-05-11 19:07] johnnyeric commented on #73
Hi @alexellis, thanks for reviewing this.

I have improved some parts of the template and I've now updated the README with better explanations about how it works and how to customize.

About the examples, my idea was that this template was fully compatible with the node10-express template, but I improved that by defining more focused examples while giving the ability to use the context features.

[2019-05-12 07:22] alexellis commented on #73
Thanks @johnnyeric 👍

@kenfdev @burtonr do either of you have time to have a more detailed look at the template?

[2019-05-18 01:02] psyhomb commented on #74
Hey @alexellis what is going on with this submission, is this suppose to take this long, it's been almost a month?

[2019-05-20 12:54] tmiklas opened #81 "Submission request - Perl template"
I would like to suggest adding Perl template to the official store.

Currently the Alpine version is working correctly hence suggestion to call it `perl-alpine`, to avoid collision with currently (not fully working) template found in incubator.

My template is located at https://github.com/tmiklas/openfaas-perl-templates, usage described in README.

Proposed `templates.json` bit:
[code]

[2019-05-30 08:30] alexellis commented on #81
/add label: design/approved

[2019-05-30 08:30] alexellis commented on #81
Please go ahead and send your PR

[2019-05-30 08:30] alexellis commented on #81
Change: `Perl` -> `perl` for the `language` field.

[2019-05-30 21:28] tmiklas commented on #81
PR merged into master, closing as completed/resolved - thank you!

[2019-05-30 21:28] #81 closed

[2019-06-04 18:46] alexellis commented on #74
The OpenFaaS project is run by unpaid volunteers. As the maintainer I receive hundreds of GitHub notifications per week, so it's hard to keep track of all of them.

I'll check your PR again.

The best way to get on my radar is to message in a public channel on Slack or to DM me there.

[2019-06-04 18:48] alexellis commented on #74
After deploying a function from the store, users will have no idea how to invoke your function. It's not your fault, but you could help them by providing a helper message when the user doesn't provide your expected input, or they give a non-JSON input.

What do you think?

[2019-06-04 18:49] alexellis commented on #74
I'm also struggling to understand why the official Python template wasn't used for the function? I'd rather it was based upon something which is being maintained by the project.

Let us know on Slack if you need any technical support with templates or building custom modules.

Alex

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-06-05 20:28] psyhomb commented on #74
What about `repo_url` [link](https://github.com/psyhomb/serverless/tree/master/openfaas/imgmod) to full documentation?
[code]

[2019-06-05 20:59] psyhomb commented on #74
Development of `imgmod` function was started 2 years ago, at that time python3 template didn't even exist, I've also sent you `python3` template suggestion on Slack at that time... so that's the reason why :slightly_smiling_face:.

This function is tested and it's working on OpenFaaS and AWS Lambda platform/service, is there any kind of issue you've detected?

[2019-06-25 19:36] jonstodle opened #89 "Add Rust a template"
I've made a fork of the [Rust template present in the openfaas-incubator organization](https://github.com/openfaas-incubator/openfaas-rust-template) and optimized the container size, and making the Dockerfile similar to the Go version. Project can be found at https://github.com/jonstodle/openfaas-rust-template

[2019-07-19 12:47] esimov opened #90 "Submission request - Coherent Line Drawing function"
Please accept my submission request for the function I have created, which converts an image to a sketch-like, hand-drawn image.

Here is the original repository: https://github.com/esimov/openfaas-coherent-line-drawing

[2019-07-22 10:26] esimov commented on #90
Closing this issue, since the PR has been merged back into the master branch.

[2019-07-22 10:26] #90 closed

[2019-09-16 23:38] pmundt opened #94 "Add support for Dart language template"
In experimenting with OpenFaaS, the lack of a Dart runtime created some difficulties for me during evaluation, so I've gone ahead and written one:

- https://github.com/adaptant-labs/openfaas-dart-template

[2019-09-22 20:33] chelnak opened #95 "Submission Request: PowerShell Polaris template"
Hi! I'd like to request the submission of a new template for a http function that uses Polaris as it's web server.

* More info on Polaris can be found [here](https://github.com/PowerShell/Polaris)
* The repository containing the template can be found [here](https://github.com/chelnak/openfaas-powershell-polaris)

I've tried to include as much info as I can in the README, but happy to answer and q

[2019-09-22 20:52] alexellis commented on #95
The info I found said:

That said, you're welcome to put this together and put it into your own GitHub repo.

You'd then run `faas template pull https://...`

[2019-09-22 20:53] alexellis commented on #95
Btw @burtonr had a powershell template which used a HTTP server. Have you looked at that yet?

[2019-09-22 21:01] chelnak commented on #95
Absolutely. The template @burtonr published inspired me to work on this.

 Polaris is a pretty cool framework and adoption is growing in the
community.
I wanted to see if OpenFAAS and Polaris worked well together, mainly for my
own learning. However, I thought I would submit here too in case it was
useful to others.

Happy to keep it in my own repo though.

Cheers for replying!

On Sun, 22 Sep 201

[2019-09-22 21:30] alexellis commented on #95
Please feel free to post back here when you have a working prototype. I don't think this is something the project itself will be leading so I'll close the issue and leave it indexable by search/Google.

[2019-09-22 21:30] #95 closed

[2019-09-22 22:14] chelnak commented on #95
There is a working prototype here:

https://github.com/chelnak/openfaas-powershell-polaris

[2019-09-23 14:38] burtonr commented on #95
Hey @chelnak Glad I could inspire you!

This does look interesting! For more visibility, you should add this to the [Community File](https://github.com/openfaas/faas/blob/master/community.md) on the main openfaas/faas repo. There is a section titled "Projects, Samples, and Use Cases" where you could add a link to your template repo.

[2019-09-23 14:55] chelnak commented on #95
👍 More than happy to do that! Thanks!

[2019-10-01 18:38] rgee0 commented on #46
I'm going to close this as the information exists since https://github.com/openfaas/store/commit/884393529d8121f8d6dfd168f817f0315070373a which this issue pre-dates.  Suggest that closure keyword was missed from the PR https://github.com/openfaas/store/pull/69

[2019-10-01 18:38] #46 closed

[2019-10-02 20:42] rgee0 commented on #60
I've checked and linked the two remaining repos to complete the set.  Once merged this issue can be closed.

[2019-10-18 12:52] dokie opened #96 "Submission Request - Elixir Templates"
I'd like to submit our Elixir templates for the Classic watchdog and the new HTTP `of-watchdog` which are [here](https://github.com/arboricity/openfaas-templates).

They both use Elixir v1.9+ and the HTTP template makes use of [Cowboy](https://github.com/ninenines/cowboy) and [Plug](https://github.com/elixir-plug/plug).

[2019-10-18 13:15] alexellis commented on #96
Congrats one getting this working Mike.

I wonder if `openfaas_endpoint.ex` may be called `handler.ex`?

Is the `plug` suffix adding anything given that there's no `elixir-http` yet, it could be more succinct without the framework in the name.

* The template looks more like a webserver than a function, so would `elixir-service` or `elixir-service-http` work too?

* How do users manage dependencie

[2019-10-18 14:56] dokie commented on #96
Thanks Alex. I will work on the suggested changes and comment back here when completed.

[2019-10-18 16:31] alexellis commented on #96
Is `openfaas_endpoint.ex` a name that is required by Elixir?

[2019-10-20 08:18] koffeinfrei opened #97 "Template submission request: Crystal HTTP"
I'd like to submit my Crystal template for the new HTTP of-watchdog.

It has a similar handler contract than the [Python template](https://github.com/koffeinfrei/crystal-http-template).

https://github.com/koffeinfrei/crystal-http-template

[2019-10-20 08:26] alexellis commented on #97
The README looks good, please go ahead and raise the PR.

[2019-10-21 07:30] dokie commented on #96
No the Elixir requirements are more to do with code repo layout not naming of files.

[2019-10-21 08:40] dokie commented on #96
@alexellis I have updated the code files and tested it locally under the `of_watchdog` go program. I am a bit confused / torn between what to do next with it. The dependencies are all stated explicitly in the `mix.lock` file and the Dockerfile will build the example with the layout here after running
[code]
However, if an Elixir developer wanted to build their service and test it locally, they wou

[2019-10-21 11:00] #97 closed

[2019-10-25 03:56] scottleedavis opened #100 "Function EXIF for store proposal"
Hi!  I have spent some time in another OSS project writing EXIF striping code.

This proposal is to add to the store a function that extracts and returns in JSON the EXIF information an image has if present.

https://github.com/servernull/openfaas-exif

Open to suggestions, changes and criticisms.

[2019-10-25 06:25] alexellis commented on #100
Sound fun 👍

I'll take a look

[2019-10-25 08:31] alexellis commented on #100
Here's my feedback and some changes you could make:

1) You need to write to os.Tempdir(), not the pwd
2) `		return "{\"error\": \"error reading image\"}"` -> you should really marshal a struct, try using an anonymous one if you don't want to add one
3) `	url := string(req)` -> perhaps it'd be better if it could also take bytes in, maybe base64 encoded? What if my files are not on the internet via

[2019-10-25 15:47] scottleedavis commented on #100
Thank you for the great feedback.  I made the updates as requested.

1,4) no filedownload happens now as it is comes from the base64.
2) anonymous structs
3) base64 now
5,6,7,8) done
9) done.

The example now is `go run encode.go image.jpg | faas-cli invoke openfaas-exif | jq`

[2019-10-25 16:13] alexellis commented on #100
What about?

[code]

Could you have a mode where you check for a URL first and if it's not valid, parse as base64? Or perhaps a deployment configuration as an environment variable? Or a query-string parameter?

`?format=url`

[2019-10-25 17:34] scottleedavis commented on #100
Great example, done.

I like the first option to handle either URL or base64 image automatically by detecting a url.  Done.

Strangely, when setting up an example for the URL mode, I found it doesn't work as is.  (the OpenFaas portal works for manual invoke, or via manual stdin.
 however piping in doesn't seem to work)
`echo https://github.com/dsoprea/go-exif/raw/master/assets/gps.jpg | faas-cli i

[2019-10-25 18:03] alexellis commented on #100
You might need to trim the input when you decide that it's a URL or use echo -n

[2019-10-25 18:33] scottleedavis commented on #100
`echo -n` solved it.

[2019-10-25 19:08] alexellis commented on #100
It'd be more robust if you trimmed whitespace in the Golang code too.

[2019-10-25 19:35] scottleedavis commented on #100
Sounds good.  Done.

[2019-10-26 10:35] alexellis commented on #100
Would you like to send a PR for the JSON files?

[2019-10-26 10:36] alexellis commented on #94
Thanks for this submission.

[code]

I would suggest running these two commands with `&&` to reduce layering.

[2019-10-26 10:36] alexellis commented on #94
Can you edit the README to say: `Dart Template for OpenFaaS`?

[2019-10-26 10:37] alexellis commented on #94
After that I think we can accept a PR for the template store 👍

Checkout the instructions in README.md and send it over

[2019-10-27 19:53] scottleedavis opened #103 "Function OpenNSFW classification model for store proposal"
Hello,

I have created a function that wraps Yahoo's Open NSFW classifier that I feel would fit well in the store.   (What defines a good fit for the store?)

https://github.com/servernull/openfaas-opennsfw

It takes a url to an image as an argument , and could also be a base64 encoded image if that was requested.

Open to additional collaboration, criticism and feedback.

[2019-10-27 19:59] alexellis commented on #103
Sounds like a great sample. Can you make it non-root, and only write to `/tmp/`?

[2019-10-27 20:47] scottleedavis commented on #103
Updated it to a non root user container.

I believe nothing is written to filesystem as the input request is handled like this
[code]

Do you agree or are there other places I am overlooking that write outside of /tmp?  The model paths I feel shouldn't be in /tmp.

[2019-10-27 21:32] alexellis commented on #103
Reading from outside of /tmp is fine.

Thanks for the modifications.

Do you have an image that is safe to use, but which flags as NSFW for testing?

Feel free to send over your PR.

[2019-10-27 21:56] scottleedavis commented on #103
Added a [failing sample image](https://github.com/servernull/openfaas-opennsfw/blob/master/eve.jpg) to the repo and readme.

Will do a PR now, thank you much for your feedback.

[2019-10-28 11:17] alexellis commented on #73
Ping cc @phumberdroz

[2019-10-28 11:18] alexellis commented on #94
@pmundt do you still want this, or should we close the issue?

[2019-10-28 11:44] pmundt commented on #94
@alexellis Thank you for the feedback, I'll implement your suggestions and open up a PR as per the README instructions - unfortunately I don't think I'll have time to get back to this for a few days, as I'll be at a conference for most of this week.

[2019-10-28 14:20] phumberdroz commented on #73
The only thing that looks conflicting to me is that Root License is MIT and the NPM package is marked as ISC besides that the code looks fine.

[2019-10-28 15:25] johnnyeric commented on #73
Hi @phumberdroz, thanks for reviewing the template. I adjusted the license on the package.json files on my repo.

[2019-10-29 16:23] scottleedavis commented on #100
Thank you for your time on this and elsewhere.

[2019-11-03 10:51] alexellis commented on #100
Added 👍 thank you

[2019-11-03 10:51] #100 closed

[2019-11-12 20:36] s1monw1 opened #106 "Submission Request: Kotlin/JVM template"
Here's my proposal for a Kotlin/JVM template in two different versions:

1) Plain Kotlin, similar to the official [Java12 template](https://github.com/openfaas/templates/tree/master/template/java12), bootstrapping a server
2) Based on [http4k](https://www.http4k.org/) to start a server application (not visible in template code)

You can find both templates here: https://github.com/s1monw1/openfaas

[2019-12-09 08:53] napperley opened #110 "Kotlin Native Linux x64 Template"
There is no official Kotlin Native Linux x64 template despite the fact that a [unofficial one](https://github.com/napperley/openfaas-kotlin-templates/tree/master/template/kotlin-native-linux-amd64) exists. Kotlin has significantly grown in backend development to the point where it makes sense to include a official Kotlin Native Linux x64 template.

## Possible Solution

I propose using the unoffic

[2019-12-09 21:20] napperley commented on #110
In consideration of the announcements made at KotlinConf 2019 I have decided that Kotlin 1.3 will be used for the template since it would be trivial to update the template when Kotlin 1.4 is released. The main benefits for using Kotlin 1.4 is the faster compilation speed and improved performance, which isn't beneficial enough to use Kotlin 1.4 (not released yet) over Kotlin 1.3 (is already release

[2019-12-12 06:34] qzheng527 opened #111 "Why template requires repo but function can use repo-url?"
I found in templates.json,  it is "repo" for each template.
By my understanding the "repo" has to be to one repo project root path.
But in functions.json, it is "repo_url" for each function,
The "repo_url" could be sub path of one repo project.

So if I want to contribute one template, I have to create a new repo project to hold the template.
I couldn't use the existed "https://github.com/clearlin

[2019-12-16 15:35] pmundt commented on #94
@alexellis any update on this? Would be good to get this ticked off and to close PR #107

[2019-12-16 15:55] alexellis commented on #94
The last update I see from you was this:

I didn't hear from you since then, but I see you have a PR up now. It'll get prioritised along with everyone else's PRs 👍

[2019-12-16 16:00] alexellis commented on #94
Please see the detailed comments on the PR.

[2019-12-17 06:15] #111 closed

[2020-01-08 07:10] psolymos opened #114 "Submission request: R/rstats"
I found some resources for using R (https://www.r-project.org/) with OpenFaaS (listed [here](https://github.com/analythium/openfaas-rstats-templates#resources)), but there were no templates.

I followed the official Go and Python templates and created templates for classic and of-watchdog (http mode) + a Dockerfile based API example for R, which are in this repo: https://github.com/analythium/open

[2020-01-10 05:42] psolymos commented on #114
Added non-root users to the templates and merged to master: https://github.com/analythium/openfaas-rstats-templates/issues/1

[2020-02-16 16:19] auyer commented on #79
Hi, I just updated the PR #80.
I re-tested this function extensively, and improved the code to be more forgiving.
Hope its fine now.

[2020-03-19 01:54] kylos101 opened #119 "Submission: HTTP load generator function using Dockerfile template"
Hello there,

Long time reader, second time writer! I'd like to submit a function to the store for [HEY](https://github.com/rakyll/hey).

I've been selfishly using this on my local cluster when demoing the power of Serverless to peers (using this function to load test other functions, showing how they scale, are async, etc.) and thought this might be good to share with folks, too.

This is my firs

[2020-03-19 11:46] alexellis commented on #119
Hi Kyle, I think `hey` could be interesting, if you want to add it as a sample function to the faas repo, then we will handle the build and publishing of the function, then you can submit a PR to the store.json file. How does that sound?

Alex

[2020-03-19 11:52] kylos101 commented on #119
Awesome, will do, I'll take a swing at it tonight!

On Thu, Mar 19, 2020, 7:46 AM Alex Ellis <notifications@github.com> wrote:

[2020-03-19 11:57] alexellis commented on #119
https://github.com/openfaas/faas/tree/master/sample-functions

[2020-03-19 12:16] kylos101 commented on #119
Thanks for the link.

To start, would it help if I created an issue in the faas repo as well?

[2020-03-19 13:20] alexellis commented on #119
No need. Please start with the PR and optimise the dockerfile to use && between each run step for caching.

[2020-03-22 22:14] kylos101 commented on #119
[I started this PR for adding `hey` as a sample function.](https://github.com/openfaas/faas/pull/1489). Appreciate the tip Re: caching, too.

[2020-04-19 21:40] devries opened #122 "Submission Request - COBOL Template"
I wrote a COBOL template, which is a bit tongue in cheek, but could be another potential addition to the store. It's currently in a fairly large container, and I may work on trimming in down a bit as we go forward. The build and deployment container is `devries/cobol:latest` which is just a `debian:buster-slim` container with GnuCOBOL installed. The Dockerfile I use to create that container is her

[2020-04-20 17:43] mjallday opened #123 "Submission Request - Java11 on ARM64 Template"
The template itself is located at https://github.com/verygoodsecurity/openfaas-java11-arm-template, and contains a README explaining how it is used. I would propose adding the following to the [templates.json](https://github.com/openfaas/store/blob/master/templates.json) file:

[code]

[2020-04-20 20:06] alexellis commented on #123
Hi @mjallday I can't see any explanation on how this is different from the existing template.

Most base images like the one we use here are multi-arch, does the provided template not work for you?

Alex

[2020-04-20 20:40] mjallday commented on #123
Which template specifically are you referring to? I tried the existing
java11 one and it failed with an invalid image format or similar message

I’ll reproduce and if it works then I’ll close this ticket.

On Mon, Apr 20, 2020 at 13:06 Alex Ellis <notifications@github.com> wrote:

--
Marshall Jones
+1 (904) 628-1796

[2020-04-20 20:49] alexellis commented on #123
This one: https://www.openfaas.com/blog/get-started-with-java-openjdk11/

[2020-04-20 20:52] alexellis commented on #123
It uses the following images: `openjdk:11-jdk-slim` and `openjdk:11-jre-slim`, might be worth you checking if they are multi-arch on hub.docker.com?

You should specifically build your images on your ARM host unless you're a wizard with qemu-static.

Alex

[2020-04-20 20:59] alexellis commented on #123
I had no issues with the template, it built and ran as expected?

![no-issues](https://user-images.githubusercontent.com/6358735/79799287-1fa9cc80-8352-11ea-9d8c-b621266e51cf.png)

[2020-04-20 21:58] mjallday commented on #123
Here's what I'm seeing when I use the existing template.

`kubectl -n openfaas-fn logs pod/fn-dyneti-secure-compute-798b696f75-22qcd`
[code]

Container runs fine when I use the template linked above.

I'm not an expert on these cross arch builds so it's possible I'm doing something incorrect here but the only change I've made is changing the base image for the Java template to an ARM one.

[2020-04-20 22:48] mjallday commented on #123
Just to clarify on that last comment. Here's a diff from the Java11 template:

`diff java11 java11-arm64`
[code]

IDK if there's a way to pass the base image in as an argument. That would remove the need for this entirely either way.

[2020-04-21 07:03] alexellis commented on #123
There's no need for a separate template IMHO. How and where are you building the image to get the exec error? As I say, you'll need to build on an arm64 device.

[2020-04-21 09:59] alexellis commented on #122
Looks good to me, please feel free to send a PR, or if you have, reference it here 👍

[2020-04-21 17:07] mjallday commented on #123
I've been using [docker's buildx](https://docs.docker.com/buildx/working-with-buildx/) to build.

Let me see if I can get my hands on a native ARM64 device to try building the above template and if that works we can close this out.

Thanks for your patience.

[2020-04-21 18:42] devries commented on #122
Thanks for accepting this! I will close the issue since the merge is complete.

[2020-04-21 18:42] #122 closed

[2020-04-22 21:57] mjallday commented on #123
just posting notes in this thread while i debug this.

i'm not sure how that would work here @alexellis.

i'm looking at the difference between the docker image used for the java-11 template you're using and the one i've created. the only real difference is the base image.

- https://github.com/docker-library/openjdk/blob/master/11/jdk/slim/Dockerfile latest openjdk:11-jdk-slim version
- https://g

[2020-04-22 22:13] alexellis commented on #123
It works, I tried it and showed you the output. You just need to build on an arm64 machine. Am I missing something?

[2020-04-23 22:13] mjallday commented on #123
i understand you've demonstrated it works for you. i'm just unsure why it's not working for _me_ but the alternative template is. possibly it's because i'm building using `docker buildx` rather than native arm but i haven't understood why it would then work when using a native arm jdk...

am re-creating the scenario by building directly on our arm cluster....

[2020-04-28 15:54] mjallday commented on #123
going to close this out until i have reproduced. i'll re-open once i've built the image without an emulator and continue to see the issue.

[2020-04-28 15:54] #123 closed

[2020-05-04 15:39] mustiikhalil opened #125 "Submission: rust-rocket"
Hey,

 Hope all of you are doing well during these times. I am trying to add the following [template](https://github.com/mustiikhalil/openfaas-rust-rocket) that I created into the store if possible. it's build on rocket.rs which is a fairly new networking framework on rust.

Best Regards.

[2020-05-04 15:46] alexellis commented on #125
Hi @mustiikhalil thanks for your interest in submitting to the store.

Please could you compare your repo with the [golang-http repo](https://github.com/openfaas-incubator/golang-http-template)? What differences do you notice?

The primary thing I notice is that there's no README or usage instructions for your template. Should be an easy fix?

Next, all the code should be in a folder named templat

[2020-07-19 22:51] #119 closed

[2020-07-22 10:53] alexellis commented on #70
Closing this issue in favour of - https://github.com/openfaas/templates/issues/210

I haven't seen a lot of acitivty on this from the community, but I am pressing ahead with it this week and would welcome your input and contributions.

[2020-07-22 10:53] #70 closed

[2020-08-31 01:25] kingdonb commented on #49
#50 was merged and Crystal is in the faas-cli store, do you want to close this issue?

[code]

Thanks for this!

[2020-09-01 11:38] TPei commented on #49
Ehm, sure, thanks for pointing this out :)

[2020-09-01 11:38] #49 closed

[2020-09-29 20:20] HeavyHorst opened #129 "Submission: php7-http template"
I wrote an php7-http template that is based on https://github.com/spiral/roadrunner.
I took some ideas from the official php-template (php-extension.sh for installing extensions, composer.json etc.)

The template is located here: https://github.com/HeavyHorst/php-roadrunner-template.

The performance seems to be quite good (with the simple hello world example that returns the query parameters as j

[2020-10-22 10:43] goncalo-oliveira opened #130 "Submission: C# HTTP Template"
I've built a new C# template based on ASP.NET Core. It provides an `HttpRequest` instance for better input control and a better handling of the response by returning an `IActionResult`. It also supports the dependency injection pattern from ASP.NET Core.

The template can be found at https://github.com/redpandaltd/openfaas-csharp-http-template

Waiting for you feedback

[2020-11-04 11:17] goncalo-oliveira commented on #130
The template now supports http attribute modifiers, route templates, dependency injection and configuration.

[2020-11-23 15:31] #130 closed

[2020-11-27 09:23] goncalo-oliveira opened #132 "ASPNET Template (C# and F#)"
ASPNET template supporting C# and F# languages, built on top of ASPNET 5. The templates offer a structure that is more familiar to those used to MVC or WebApi, providing an `HttpRequest` instance and returning an `IActionResult`. They support http method attributes, dependency injection, configuration, route templates and authorization.

The template can be found at https://github.com/redpandaltd/

[2021-01-24 20:27] VladoPortos opened #137 "I can only see two store functions."
I just deployed latest OpenFass on my kubernetes and when looking on Portal I can see only two store functions "NodeInfo" and "Sha512sum", do I need to update the list somehow as I can see more in the github json...

[2021-01-24 21:39] alexellis commented on #137
Hi, that's to be expected if you're using 64-bit ARM, but if you want to use 32-bit ARM or a regular cloud computer (Intel), you'll see many more.

Just to let you know, we don't do technical support on GitHub, so I would encourage you to join Slack

https://slack.openfaas.io

[2021-01-24 21:39] #137 closed

[2021-01-25 08:04] VladoPortos commented on #137
Thanks @alexellis makes sense, yes I'm on arm64

[2021-01-25 08:10] alexellis commented on #137
You can build your own functions on your laptop with the publish command and may enjoy my Serverless ebook listed on https://openfaas.com too.

I'll also have a think about adding more for arm64.

[2021-01-25 09:09] VladoPortos commented on #137
@alexellis I know, the build of my own function works perfectly fine :) It just did not click to me that the store is based on architecture :) I'm running OpenFaas on my 9 node rpi4 kubernetes cluster, and basically learning OpenFaas on it. By the way thanks for all the articles about Kubernetes and OpenFaas on medium.com they were great read.

[2021-01-28 13:35] alexellis commented on #137
Feel free to join us in the #home-clusters channel on OpenFaaS Slack to chat with the community and share more about what you'd like to see in the future.

https://slack.openfaas.io

[2021-02-18 17:49] goncalo-oliveira opened #138 "Submission: TypeScript with Express or Fastify"
TypeScript templates built on top of Node 14 and `of-watchdog`. You can choose between [Express](https://expressjs.com/) and [Fastify](https://www.fastify.io/). The `typescript` template will generate a function based on Express and `typescript-fastify` will generate a function based on Fastify.

The template can be found at https://github.com/goncalo-oliveira/faas-typescript-template

[2021-03-04 11:55] betterRunner opened #140 "Add Deno.js a template"
I would like to submit a [Deno.js](https://github.com/denoland/deno) template as an alternative of the Node.js template.
This is the project link: https://github.com/betterRunner/openfaas-deno-template

Here are some reasons for adding this template:
(1) deno supports Typescript out of the box. I think using Typescript to write functions would be better than using Javascript because of type checki

[2021-03-04 13:53] alexellis commented on #140
Thanks for your interest. We'll consider the submission for review, when we next have some spare cycles in the community.

You should also be able to use TypeScript with the existing node12 template, @MrSimonEmms keep me honest here.

[2021-03-04 13:55] alexellis commented on #140
1) is "hayd/deno" official, or an enthusiast build? It doesn't look like something "official"
2) Where are the examples? See one of [our examples](https://github.com/openfaas/golang-http-template) for inspiration. How do you use it? How do you add a module like a database? How do you handle HTTP headers? How do you return success/failure? You may also want to study https://www.openfaas.com/blog/se

[2021-03-05 02:19] betterRunner commented on #140
@alexellis thanks for the reply.
(1) As [deno repo issue](https://github.com/denoland/deno/issues/3356) said, there are no official deno docker image currently and "hayd/deno" is the temporary one, I think we could replace it with the official one once it releases.
(2) Thank you for reminding me and I would add full examples following https://www.openfaas.com/blog/serverless-nodejs/
(3) I am sorry

[2021-03-24 03:25] betterRunner commented on #140
@alexellis any update about this plan? I have fixed most issues above and am ready to further complement if needed. Thanks you.

[2021-03-24 08:49] MrSimonEmms commented on #140
Apologies @alexellis and @betterRunner - I missed my mention in this thread. For the record, I've not actually used Deno yet (it's on my ever-expanding list) so everything I say here is caveated.

@alexellis yes, you can use TypeScript with the existing Node template. Deno is an entire reworking of the Node ecosystem and as such should be considered a separate language to Node.

I don't see any is

[2021-04-01 05:18] baremaximum opened #141 "Submission: Rust actix-web template"
Hi,

I would like to submit a proposal for an openfaas template that uses the actix-web framework in Rust. Here is a link to the repo containing the template: https://github.com/baremaximum/rust-actix-web-template

## Why I made this template
While there are some Rust templates, none of them take full advantage of the strengths of the HTTP watchdog.

The HTTP template that does exist (https://gith

[2021-04-09 08:36] LucasRoesler commented on #141
@baremaximum you mention this

which worries me a little bit. Can you give some concrete examples of _when_ a developer might want to do this? Perhaps there is a reasonable way to address the most common cases by exposing "hooks", for example, there could be a (potentially empty) list of middlewares defined in the function handler implementation and the `main` could import and apply them to the se

[2021-04-10 21:59] baremaximum commented on #141
Thanks for taking the time to look at this!

Users certainly wouldn't have to modify the main every time. The template is totally usable out of the box, and has reasonable minimal defaults set. It's maybe slightly more likely to require modification at the template level than the Node template because the Node template defines a route for each HTTP method, whereas this one does not. I didn't inclu

[2021-04-21 16:27] alexellis commented on #141
I'm chatting with Lucas on our weekly call and reviewing the example.

The place we're not sure is where you mention editing the main / entrypoint which is not supported as a use-case for the template store.

[code]

If you can have a generic template which works similar to our [Golang middleware](https://github.com/openfaas/golang-http-template/blob/master/template/golang-middleware/function/hand

[2021-04-22 05:15] baremaximum commented on #141
I think this could be possible without making too many changes to the template. However, it may lead to users having to write their own implementation of some of the framework's features. I'll take a closer look at this sometime in the next couple days.

[2021-04-22 22:17] alexellis commented on #141
Thanks

[2021-04-25 00:55] baremaximum commented on #141
@alexellis I made some changes to the template so that users would no longer have to modify the template for anything. I also modified the README to reflect those changes.

I ended up just moving the app object out of the main.rs in the template, and into a factory function in the handler function crate. That way users can make whatever modifications they want to the app object from there.

While

[2021-05-30 11:43] #96 closed

[2021-06-28 21:24] amitza opened #143 "Private function store"
hey!

is there a way to create my own private function store? I've installed openfaas in an air-gapped environment and would like to use the function store feature

[2021-07-06 10:25] alexellis commented on #143
Hi @amitza there is a way yes

Try running `--help` and you'll see how :slightly_smiling_face:

For future questions, please join the Slack community rather than raising issues.

Alex

[2021-07-06 10:25] #143 closed

[2021-07-06 10:25] alexellis commented on #143
/add label: question

[2021-08-16 17:44] cipy opened #144 "nslookup function doesn't anymore deploy on arm"
[code]

[2021-08-18 11:16] alexellis commented on #144
Hi @cipy perhaps you can contribute nslookup to the official store repo then?

Jock's image will be really outdated at this point

https://github.com/openfaas/store-functions

The store builds all images as multi-arch, feel free to follow one of the existing examples.

Alex

[2021-08-18 11:16] #144 closed

[2021-08-18 11:43] alexellis commented on #144
I've added it for you:

https://github.com/openfaas/store-functions/commit/8232a7a8128e8d6bebde917c7445da5d0795e526

Please consider becoming a project sponsor if you're not one already: https://github.com/sponsors/openfaas

[2022-01-26 14:42] samanthacqs opened #145 "Submission : Haskell-http template"
Greetings,

I am an Intern at Stackbuilders, and we have developed a [Haskell template](https://github.com/stackbuilders/haskell-faas-template.git) that will help to build a Haskell function easier. Under you could find some details.

# Summary

Stack Builders is an international software consultancy based in NYC and Quito - Ecuador. We develop personalized code for companies in different sectors,

[2022-02-01 21:02] alexellis commented on #145
Hi @samanthacqs

Thanks for your interest in OpenFaaS.

Can you add some examples to the README for the repo?

See this repo for example: https://github.com/openfaas/golang-http-template

I noticed some usage of SSH and copying in the user's key in the Dockerfile. That also needs to be documented clearly in your README.

[code]

Is there no official template for Haskell on the Docker Hub?

It migh

[2022-06-01 16:43] welteki opened #146 "Missing node templates"
# Description

The store is missing the node16 and node17 templates from
https://github.com/openfaas/templates

[2022-06-04 07:38] #146 closed

[2022-06-13 19:54] zakaluka opened #149 "Submission : F# of-watchdog http template"
Hello,

I would like to submit a proposal for an OpenFaaS template that uses F# and ASP.NET Core with .NET v6.0 (latest stable release). Here is a link to the repo containing the template: https://github.com/zakaluka/fsharp-httprequest-template

# Why I made this template
While there are some .NET templates (`csharp`, `csharp-httprequest`, `csharp-kestrel`), all of them are C# specific.  While bot